<!-- Content area -->
<div class="content">

    <div class="col-md-2">
        <!--<label class="label label-primary"> DEPARTAMENTO </label>-->
        <label for="lDepartamento"><h5> DEPARTAMENTO</h5></label>
        <select id="Cdepa" class="browser-default" name="departamentos" (change)="cargarProvincias($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let el of departamentos" value="{{ el.ccdd }}">{{ el.departamento }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <!--<label class="label label-primary"> PROVINCIA </label>-->
        <label for="lProvincia"><h5> PROVINCIA</h5></label>
        <select class="browser-default" name="provincias" (change)="cargarDistritos($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let e of provincias" value="{{ e.ccpp }}">{{ e.provincia }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <!--<label class="label label-primary"> DISTRITO </label>-->
        <label for="lDistrito"><h5> DISTRITO</h5></label>
        <select class="browser-default" name="distritos" (change)="cargarZonas($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let e of distritos" value="{{ e.ccdi }}">{{ e.distrito }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <!--<label class="label label-primary"> ÁREA </label>-->
        <label for="lArea"><h5> ÁREA</h5></label>
        <select class="browser-default" name="areas">
            <option value="0"> Urbana</option>
            <option value="1"> Rural</option>
        </select>
    </div>

    <div class="col-md-2">
        <!--<label class="label label-primary" > ZONA </label>-->
        <label for="lZona"><h5> ZONA / AER</h5></label>
        <select class="browser-default" name="zonas" (change)="cargarAeu($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let er of zonas" value="{{ er.zona }}">{{ er.zona }}</option>
        </select>
    </div>

    <div *ngIf="distrito" class="col-md-2">
        <button type="button" (click)="procesar()" class="btn btn-primary">Procesar</button>
    </div>

    <div class="col-md-12" align="left">
        <hr style="color: black; background-color: black; width:100%;" />

        <a class="btn btn-default" onclick="descargarCroExcel()">EXCEL <i class="fa fa-download"></i></a>
    </div>


    <div class="table-responsive" *ngIf="tabledata">
        <table class="table" id="tablaCro">
            <thead class="thead-inverse">
                <tr>
                    <th width="12%">Departamento</th>
                    <th width="12%">Provincia</th>
                    <th width="11%">Distrito</th>
                    <th width="11%">Zona</th>
                    <th width="10%">Nro. de secciones</th>
                    <th width="10%">Nro. de AEU</th>
                    <th width="11%">Estado</th>
                    <th *ngIf="verZona" width="11%">Ver</th>
                    <th *ngIf="verZona" width="11%">Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let re of registros">
                    <td>{{re.DEPARTAMENTO}}</td>
                    <td>{{re.PROVINCIA}}</td>
                    <td>{{re.DISTRITO}}</td>
                    <td>{{re.ZONA}}</td>
                    <td>{{re.NUM_SEC}}</td>
                    <td>{{re.NUM_AEU}}</td>
                    <td>
                        <span [ngSwitch]="re.EST_CROQUIS">
                        <span *ngSwitchCase="0"> - </span>
                        <span *ngSwitchCase="3" class="btn btn-warning">PENDIENTE</span>
                        <span *ngSwitchCase="4" class="btn btn-success">EXITOSO</span>
                        <span *ngSwitchCase="9" class="btn btn-danger">FALLIDO</span>
                        </span>
                    </td>
                    <td *ngIf="verZona">
                        <button class="btn btn-primary" (click)="getRegistro(0)" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-pencil"></i></button>
                        <!--<a type="button" (click)="getRegistro()" class="btn btn-info" data-toggle="modal" data-target="#modal-contact" class="teal-text"> <i class="fa fa-pencil"></i> </a>-->
                    </td>
                    <td *ngIf="verZona">
                        <a class="btn btn-default"> <i class="fa fa-download"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!-- Modal Contact -->
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">CROQUIS Y LISTADO</h4>
                    </div>


                    <label for="lSeccion"><h5> SECCIÓN</h5></label>
                    <select class="browser-default" name="seccion" (change)="getRegistro($event.target.value)">
                        <option value="0">ZONA</option>
                        <option value="1">SECCIÓN</option>
                        <option value="2">EMPADRONADOR</option>                        
                    </select>

                    <div align="center">
                        <hr style="color: black; background-color: black; width:100%;" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <table style="background:#ffffff" class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th width="11%">Zona</th>
                                    <th *ngIf="seccionAux" width="10%">Sección</th>
                                    <th *ngIf="aeuAux" width="10%">Nro. de AEU</th>
                                    <th width="11%">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let re1 of registros2">
                                    <td>{{re1.ZONA}}</td>
                                    <td *ngIf="seccionAux">{{re1.SECCION}}</td>
                                    <td *ngIf="aeuAux">{{re1.AEU_FINAL}}</td>
                                    <td>
                                        <span [ngSwitch]="re1.EST_CROQUIS">
                                        <span *ngSwitchCase="1"> - </span>
                                        <span *ngSwitchCase="2" class="btn btn-warning">PENDIENTE</span>
                                        <span *ngSwitchCase="3" class="btn btn-primary">EN PROCESO</span>
                                        <span *ngSwitchCase="4" class="btn btn-success">EXITOSO</span>
                                        <span *ngSwitchCase="9" class="btn btn-danger">FALLIDO</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <a onclick="changepdf()" id="boton" class="btn btn-default">DESCARGAR TODO <i class="fa fa-download"></i></a>
                        <object id="object" data="http://www.incainstitute.org/pdf/rosler_detroit.pdf" type="application/pdf" width="800" height="700">
                            alt : <a href="http://www.incainstitute.org/pdf/rosler_detroit.pdf">test.pdf</a>
                        </object>
                    </div>
                </div>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>