<h5 class="page-title">Modulo de <span class="fw-semi-bold">Registro de Cursos y Examénes</span></h5>

<div class="row">
    <div class="col-lg-6">
        <section class="widget" widget>
            <header>Cursos Capacitación</header>
            <div class="widget-body">
                <button data-toggle="modal" data-target="#myModal" md-fab><md-icon class="md-24">add</md-icon></button>
                <button [disabled]="!editarcurso" data-toggle="modal" data-target="#myModal3" md-raised-button color="warn">Editar</button>
                <p-dataTable [value]="cursos" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="single" [(selection)]="selectedCurso">
                    <p-column field="titulo_capacitacion" header="Titulo Capacitación"></p-column>
                    <p-column field="desc_capacitacion" header="Descripción"></p-column>
                    <p-column field="nivel" header="Nivel"></p-column>
                </p-dataTable>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="widget" widget>
            <header>Criterios de Evaluación</header>
            <div class="widget-body">
                <button data-toggle="modal" data-target="#myModal2" md-fab><md-icon class="md-24">add</md-icon></button>
                <p-dataTable [value]="criterios" selectionMode="single" [(selection)]="selectedCriterio">
                    <p-column field="desc_examen" header="Titulo Capacitación"></p-column>
                </p-dataTable>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Registro de Cursos</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form #cursoForm="ngForm" (ngSubmit)="addCursos()" class="form-horizontal" role="form">

                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Titulo Capacitación</label>
                        <div class="col-md-7 ">
                            <input type="text" class="form-control" [(ngModel)]="curso.titulo_capacitacion" name="titulo_capacitacion" #titulo_capacitacion="ngModel" placeholder="Titulo Capacitación" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Descripción</label>
                        <div class="col-md-7 ">
                            <input type="text" [(ngModel)]="curso.desc_capacitacion" name="desc_capacitacion" #desc_capacitacion="ngModel" class="form-control" placeholder="Descripción" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Nivel</label>
                        <div class="col-md-7 ">
                            <select [(ngModel)]="curso.nivel" #nivel="ngModel" name="nivel" class="form-control" required>
                                <option value="0">Nivel 0</option>
                                <option value="1">Nivel 1</option>
                                <option value="2">Nivel 2</option>
                                <option value="3">Nivel 3</option>
                            </select>
                        </div>
                    </div>
                    <button [disabled]="!cursoForm.form.valid" md-raised-button color="warn">AÑADIR</button>
                </form>
            </div>
            <!--Footer-->
        </div>

        <!--/.Content-->
    </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Criterios de Evaluación</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form #criterioForm="ngForm" (ngSubmit)="addCriterios()" class="form-horizontal" role="form">
                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Descripción</label>
                        <div class="col-md-7 ">
                            <input type="text" [(ngModel)]="criterio.desc_examen" class="form-control" #desc_examen="ngModel" name="desc_Examen" required placeholder="Descripción de Criterio de Evaluación">
                        </div>
                    </div>
                    <button [disabled]="!criterioForm.form.valid" md-raised-button color="warn">AÑADIR</button>
                </form>
            </div>
            <!--Footer-->
        </div>

        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Asignacion de Criterios</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form #cursocriterioForm="ngForm" (ngSubmit)="addCriterioCurso()" class="form-horizontal" role="form">
                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Criterio de Evaluación</label>
                        <div class="col-md-7 ">
                            <select [(ngModel)]="cursocriterio.id_criterio_evaluacion" #id_criterio_evaluacion="ngModel" name="id_criterio_evaluacion" class="form-control" required>
                                <option *ngFor="let cri of criterios" [value]="cri.id_criterio_evaluacion">{{ cri.desc_examen }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Nota Mínima</label>
                        <div class="col-md-7 ">
                            <input type="text" class="form-control" [(ngModel)]="cursocriterio.nota_minima" name="titulo_capacitacion" #titulo_capacitacion="ngModel" placeholder="Titulo Capacitación" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Duración</label>
                        <div class="col-md-7 ">
                            <input type="text" [(ngModel)]="cursocriterio.duracion" name="duracion" #duracion="ngModel" class="form-control" placeholder="Duración" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Porcentaje</label>
                        <div class="col-md-7 ">
                            <input type="text" [(ngModel)]="cursocriterio.porcentaje" name="porcentaje" #porcentaje="ngModel" class="form-control" placeholder="Porcentaje" required>
                        </div>
                    </div>
                    <button [disabled]="!cursocriterioForm.form.valid" md-raised-button color="warn">AÑADIR</button>
                    <div *ngIf="sumaporcentajes" class="alert alert-danger">
                        <strong>Error!</strong> El porcentaje no puede pasar del 100%!
                    </div>
                    <div class="table-responsive-vertical shadow-z-1">
                        <!-- Table starts here -->
                        <table id="table" class="table table-hover table-mc-light-blue">
                            <thead>
                                <tr>
                                    <th>Criterio</th>
                                    <th>nota_minima</th>
                                    <th>duracion</th>
                                    <th>hora </th>
                                    <th>porcentaje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cricapa of criteriosbycapa">
                                    <td data-title="ID">{{ cricapa.desc_examen }}</td>
                                    <td data-title="ID">{{ cricapa.nota_minima }}</td>
                                    <td data-title="Codigo">{{ cricapa.duracion }}</td>
                                    <td data-title="Descripción">{{ cricapa.hora }}</td>
                                    <td data-title="Nombre">{{ cricapa.porcentaje }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!--Footer-->
        </div>

        <!--/.Content-->
    </div>
</div>