<!-- Content area -->
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <form class="form-inline">
                <div class="form-group">
                    <label for="lDepartamento"><h5> DEPARTAMENTO</h5></label>
                    <select class="form-control" name="departamentos" id="departamentos" (change)="cargarProvincias($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let el of departamentos" value="{{ el.ccdd }}">{{ el.departamento }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lProvincia"><h5> PROVINCIA</h5></label>
                    <select class="form-control" name="provincias" (change)="cargarDistritos($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let e of provincias" value="{{ e.ccpp }}">{{ e.provincia }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lDistrito"><h5> DISTRITO</h5></label>
                    <select class="form-control" name="distritos" (change)="cargarZonas($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let e of distritos" value="{{ e.ccdi }}">{{ e.distrito }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lArea"><h5> ÁREA</h5></label>
                    <select class="form-control" name="areas">
                        <option value="0"> Urbana</option>
                        <option value="1"> Rural</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lZona"><h5> ZONA / AER</h5></label>
                    <select class="form-control" name="zonas" (change)="cargarAeu($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let er of zonas" value="{{ er.zona }}">{{ er.zona }}</option>
                    </select>
                </div>
            </form>

            <form action="" class="inline">
                <div *ngIf="distrito" class="col-md-2">
                    <button type="button" class="btn btn-primary">Procesar</button>
                </div>
                <div class="col-md-12" align="left">
                    <hr style="color: black; background-color: black; width:100%;" />
                    <a class="btn btn-default" onclick="descargarSegExcel()">EXCEL <i class="fa fa-download"></i></a>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <table class="table table-bordered table-lg mt-lg mb-0" id="tablaSeg">
                <thead>
                    <tr>
                        <th width="12%">Departamento</th>
                        <th width="12%">Provincia</th>
                        <th width="11%">Distrito</th>
                        <th width="11%">Zona</th>
                        <th width="10%">Nro. de secciones</th>
                        <th width="10%">Nro. de AEU</th>
                        <th width="11%">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let re of registros">
                        <td>{{re.DEPARTAMENTO}}</td>
                        <td>{{re.PROVINCIA}}</td>
                        <td>{{re.DISTRITO}}</td>
                        <td>{{re.ZONA}}</td>
                        <td>{{re.NUM_SEC}}</td>
                        <td>{{re.NUM_AEU}}</td>
                        <td>
                            <span [ngSwitch]="re.EST_SEG">
                            <span *ngSwitchCase="0"> - </span>
                            <span *ngSwitchCase="3" class="btn btn-warning">PENDIENTE</span>
                            <span *ngSwitchCase="4" class="btn btn-success">EXITOSO</span>
                            <span *ngSwitchCase="9" class="btn btn-danger">FALLIDO</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>