<!-- Content area -->
<div class="page-header">
					<div class="page-header-content">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Components</span> - Alerts</h4>
						</div>

						<div class="heading-elements">
							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
							</div>
						</div>
					<a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
							<li><a href="components_alerts.html">Components</a></li>
							<li class="active">Alerts</li>
						</ul>

						<ul class="breadcrumb-elements">
							<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-gear position-left"></i>
									Settings
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
									<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
									<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
								</ul>
							</li>
						</ul>
					<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a></div>
				</div>
<div class="content">

    <div class="col-md-2">
        <label (click)="hola1()" for="lDepartamento"><h5> DEPARTAMENTO</h5></label>
        <select class="browser-default" name="departamentos" (change)="cargarProvincias($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let el of departamentos" value="{{ el.ccdd }}">{{ el.departamento }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="lProvincia"><h5> PROVINCIA</h5></label>
        <select class="browser-default" name="provincias" (change)="cargarDistritos($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let e of provincias" value="{{ e.ccpp }}">{{ e.provincia }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="lDistrito"><h5> DISTRITO</h5></label>
        <select class="browser-default" name="distritos" (change)="cargarZonas($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let e of distritos" value="{{ e.ccdi }}">{{ e.distrito }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="lArea"><h5> ÁREA</h5></label>
        <select class="browser-default" name="areas">
            <option value="0"> Urbana</option>
            <option value="1"> Rural</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="lZona"><h5> ZONA / AER</h5></label>
        <select class="browser-default" name="zonas" (change)="cargarAeu($event.target.value)">
            <option value="0">TODOS</option>
            <option *ngFor="let er of zonas" value="{{ er.zona }}">{{ er.zona }}</option>
        </select>
    </div>

    <div *ngIf="distrito" class="col-md-2">
        <button type="button" class="btn btn-primary">Procesar</button>
    </div>

    <div class="col-md-12" align="left">
        <hr style="color: black; background-color: black; width:100%;" />

        <a class="btn btn-default" onclick="descargarSegExcel()">EXCEL <i class="fa fa-download"></i></a>
    </div>

    
        <table class="table" id="tablaSeg">
            <thead class="thead-inverse">
                <tr>
                    <th width="12%">Departamento</th>
                    <th width="12%">Provincia</th>
                    <th width="11%">Distrito</th>
                    <th width="11%">Zona</th>
                    <th width="10%">Nro. de secciones</th>
                    <th width="10%">Nro. de AEU</th>
                    <th width="11%">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let re of registros">
                    <td>{{re.DEPARTAMENTO}}</td>
                    <td>{{re.PROVINCIA}}</td>
                    <td>{{re.DISTRITO}}</td>
                    <td>{{re.ZONA}}</td>
                    <td>{{re.NUM_SEC}}</td>
                    <td>{{re.NUM_AEU}}</td>
                    <td>
                        <span [ngSwitch]="re.EST_SEG">
                        <span *ngSwitchCase="0"> - </span>
                        <span *ngSwitchCase="3" class="btn btn-warning">PENDIENTE</span>
                        <span *ngSwitchCase="4" class="btn btn-success">EXITOSO</span>
                        <span *ngSwitchCase="9" class="btn btn-danger">FALLIDO</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    
</div>