<h1 class="page-title">SISTEMA INTEGRADO DE SEGMENTACIÓN - <span class="fw-semi-bold">CONTROL DE CALIDAD</span></h1>
<!-- Content area -->
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <form class="form-inline">
                <div class="form-group">
                    <label for="lDepartamento"><h5> DEPARTAMENTO</h5></label>
                    <select class="form-control" name="departamentos" (change)="cargarProvincias($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let el of departamentos" value="{{ el.CCDD }}">{{ el.CCDD }} {{ el.DEPARTAMENTO }}</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="lProvincia"><h5> PROVINCIA</h5></label>
                    <select class="form-control" name="provincias" (change)="cargarDistritos($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let e of provincias" value="{{ e.CCPP }}">{{ e.CCPP }} {{ e.PROVINCIA }}</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="lDistrito"><h5> DISTRITO</h5></label>
                    <select class="form-control" name="distritos" (change)="cargarZonas($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let e1 of distritos" value="{{ e1.CCDI }}">{{ e1.CCDI }} {{ e1.DISTRITO }}</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="lArea"><h5> ÁREA</h5></label>
                    <select class="form-control" name="areas" (change)="cambiarArea($event.target.value)">
                        <option value="0"> Urbana</option>
                        <option value="1"> Rural</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div *ngIf="urbanoZona" class="form-group">
                    <label for="lZona"><h5> ZONA</h5></label>
                    <select class="form-control" name="zonas" (change)="cargarAeu($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let er of zonas" value="{{ er.UBIGEO }}">{{ er.ZONA }}</option>
                    </select>
                </div>
            </form>

            <form action="" class="inline">
                <button *ngIf="verZonaPrevia" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">REPORTES  <i class="fa fa-download"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="descargarExcel('reporte01_tabla', 'Reporte_de_frecuencia')">FRECUENCIA DE AEUs POR VIVIENDAS</a>
                    <a class="dropdown-item" (click)="descargarExcel('reporte03_tabla','Reporte_de_marco')"> MARCO DE ZONAS, SECCIONES, AEUs, MANZANAS Y VIVIENDAS</a>
                </div>
                <div class="col-md-12" align="left">
                    <hr style="color: black; background-color: black; width:100%;" />
                    <a class="btn btn-primary" (click)="descargarExcel('tablaSeg', 'SEGMENTACION')">EXCEL <i class="fa fa-download"></i></a>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form class="navbar-form pull-xs-left" role="search">
                    <div class="form-group">
                        <div class="input-group input-group-no-border">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input #gb type="text" pInputText size="50" class="form-control" placeholder="Buscador Global">
                        </div>
                    </div>
                </form>

                <p-dataTable id="tablaCont" [value]="registros" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
                    class="table table-bordered table-lg mt-lg mb-0" [globalFilter]="gb">
                    <p-column field="DEPARTAMENTO" header="DEPARTAMENTO" [sortable]="true"></p-column>
                    <p-column field="PROVINCIA" header="PROVINCIA" [sortable]="true"></p-column>
                    <p-column field="DISTRITO" header="DISTRITO" [sortable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="ZONA" header="ZONA" [sortable]="true"></p-column>
                    <p-column field="NUM_SEC" header="NRO. DE SECCIONES" [sortable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="NUM_AEU" header="NRO. DE AEUs" [sortable]="true"></p-column>
                    <p-column *ngIf="ruralZona" field="NUM_AERS" header="NRO. DE AERs" [sortable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="EST_CALIDAD_SEL" header="NRO. DE AEUs SELECCIONADAS" [sortable]="true"></p-column>
                    <p-column *ngIf="ruralZona" field="EST_CALIDAD_SEL" header="NRO. DE AERs SELECCIONADAS" [sortable]="true"></p-column>
                    <p-column field="EST_CONT" styleClass="col-button" header="ESTADO">
                        <template let-col let-car="rowData" pTemplate type="body">
                            <span [ngSwitch]="car[col.field]">                                
                            <span *ngSwitchCase="4" class="btn btn-success">TERMINADO</span>
                            <span *ngSwitchCase="9" class="btn btn-danger">PENDIENTE</span>
                            </span>
                        </template>
                    </p-column>
                    <p-column *ngIf="verZona" header="VER">
                        <template pTemplate type="body">
                            <button (click)="getRegistro(0)" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-pencil"></i></button>
                        </template>
                    </p-column>
                    <p-column *ngIf="verDistrito" header="VER">
                        <template pTemplate type="body">
                            <button (click)="getRegistro(1)" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-pencil"></i></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </section>
    </div>
</div>

<div class="modal bd-example-modal-lg" id="modal_calidad" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="destruir()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center" class="modal-title" id="myModalLabel">CONTROL DE CALIDAD</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="height: 850px;">
                    <div class="col-md-3" style="overflow-y:scroll;">
                        <section class="widget">
                            <form class="form-inline">
                                <label for="lDepa"><h5>{{nombreDepa}} - </h5></label>
                                <label for="lPro"><h5>{{nombreProv}} - </h5></label>
                                <label for="lDis"><h5>{{nombreDist}}</h5></label>
                                <div class="btn-group">
                                    <label for="lSeccion"><h5> SECCIÓN</h5></label>
                                    <select id="combo_urbano" *ngIf="urbanoZona" class="form-control" name="seccion" (change)="getRegistro($event.target.value)">
                                        <option [value]="0" [selected]="'0' == '0'">ZONA</option>
                                        <option value="1">SECCIÓN</option>
                                        <option value="2">AEU</option>                        
                                    </select>
                                    <select *ngIf="ruralZona" class="form-control" name="seccion" (change)="getRegistro($event.target.value)">
                                        <option value="1">SECCIÓN</option>
                                        <option value="2">AER</option>                        
                                    </select>
                                </div>
                            </form>
                            <div class="btn-group" style="position:absolute">
                                <a class="btn btn-primary" [href]=urlCroquis download> PDF  <i class="fa fa-download"> </i></a>
                            </div>
                        </section>
                        <section class="widget">
                            <table *ngIf="urbanoZona" border="2" class="table table-bordered table-lg mt-lg mb-0" id="tablaCroAux" class="scroll">
                                <thead>
                                    <tr>
                                        <th width="11%">Zona</th>
                                        <th *ngIf="seccionAux" width="10%">Sección</th>
                                        <th *ngIf="aeuAux" width="10%">Nro. de AEU</th>
                                        <th width="11%">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let re1 of registros2">
                                        <td align="center">{{re1.ZONA}}</td>
                                        <td align="center" *ngIf="seccionAux" (click)="cambiarPdfSeccion(re1.SECCION)">{{re1.SECCION}}</td>
                                        <td align="center" *ngIf="aeuAux" (click)="cambiarPdfAeu(re1.SECCION,re1.AEU_FINAL)">{{re1.AEU_FINAL}}</td>
                                        <td align="center"> <span class="btn btn-success btn-sm">TERMINADO</span> </td>
                                        <!--<td align="center">
                                            <span [ngSwitch]="[re1.EST_CONT]">
                                            <span *ngSwitchCase="0" class="btn btn-warning">PENDIENTE</span>
                                            <span *ngSwitchCase="4" class="btn btn-success">TERMINADO</span>
                                            </span>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <table *ngIf="ruralZona" border="2" class="table table-bordered table-lg mt-lg mb-0" id="tablaCroAux" class="scroll">
                                <thead>
                                    <tr>
                                        <th width="10%">Sección</th>
                                        <th *ngIf="aeuAuxRural" width="10%">Nro. de AER</th>
                                        <th width="11%">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let re1 of registros2">
                                        <td align="center" (click)="cambiarPdfSeccion(re1.NUM_SEC)">{{re1.NUM_SEC}}</td>
                                        <td align="center" *ngIf="aeuAuxRural" (click)="cambiarPdfAeu(re1.NUM_SEC,re1.NUM_AERS)">{{re1.NUM_AERS}}</td>
                                        <td align="center"> <span class="btn btn-success">TERMINADO</span> </td>
                                        <!--<td>
                                            <span [ngSwitch]="[re1.EST_CROQUIS]">
                                            <span *ngSwitchCase="1"> - </span>
                                            <span *ngSwitchCase="2" class="btn btn-warning">PENDIENTE</span>
                                            <span *ngSwitchCase="3" class="btn btn-primary">EN PROCESO</span>
                                            <span *ngSwitchCase="4" class="btn btn-success">EXITOSO</span>
                                            <span *ngSwitchCase="9" class="btn btn-danger">FALLIDO</span>
                                            </span>                                            
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="col-md-9">
                        <object id="object" [data]=urlCroquis type="application/pdf" width="100%" height="85%">
                                alt : <a [href]=urlCroquis>test.pdf</a>
                        </object>
                        <i *ngIf="obser" class="fa fa-pencil prefix">Observaciones:</i>
                        <textarea *ngIf="obser" id="comentario" style="width: 600px;" class="form-control" placeholder="Escriba su observación..."></textarea>
                        <button *ngIf="obser" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-llg" (click)="indicadorCalidad()">FORMULARIO</button>
                        <button *ngIf="obser" class="btn btn-primary" type="button" (click)="guardarObs()"> GUARDAR OBSERVACIÓN </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal bd-example-modal-llg" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myLargeModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center" class="modal-title" id="myModalLabel">CONTROL DE CALIDAD</h4>
            </div>
            <div class="modal-body">
                <p-dataTable [value]="indicadores" [editable]="true">
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_01" header="1. Error en Inicialización de las viviendas que forman parte del AEU."
                        [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_02" header="2. Error en el nombre o tipo de vía en la manzana(s) que forma parte del AEU."
                        [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_03" header="3. Error la correlatividad de las vivienda en el Recorrido del AEU’s en base al orden del  registro."
                        [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_04" header="4. Error en la definición correcta del uso del local." [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_05" header="5. Errores por mala ubicación de viviendas en la manzana del AEU."
                        [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_06" header="6. Error en la formación del polígono de la manzana que conforma el AEU."
                        [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_07" header="1. Omisión de la vivienda que forma parte del AEU" [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_08" header="2. Omisión de viviendas nuevas  en la periferia que deberían  formar parte del AEU."
                        [editable]="true"></p-column>
                    <p-column *ngIf="urbanoZona" field="CONT_URB_ERROR_09" header="1. Error en Inicio y fin del AEU." [editable]="true"></p-column>

                    <p-column *ngIf="ruralZona" field="CONT_RUR_ERROR_01" header="1. Error en la contigüidad de los Centros poblados  que forman parte del AER."
                        [editable]="true"></p-column>
                    <p-column *ngIf="ruralZona" field="CONT_RUR_ERROR_02" header="2. Error en el Nombre del jefe del hogar." [editable]="true"></p-column>
                    <p-column *ngIf="ruralZona" field="CONT_RUR_ERROR_03" header="3. Omisión de la vivienda que forma parte del AER’S." [editable]="true"></p-column>
                    <p-column *ngIf="ruralZona" field="CONT_RUR_ERROR_04" header="4. Omisión de centros poblados  que forma parte del AER’S."
                        [editable]="true"></p-column>
                </p-dataTable>
                <button class="btn btn-primary" type="button" (click)="guardarInd()"> GUARDAR </button>
            </div>
        </div>
    </div>
</div>

<p-dataTable id="reporte01_tabla" hidden="true" [value]="datareporte01" [rows]="16" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
    class="table table-bordered table-lg mt-lg mb-0">
    <p-column field="VIVIENDAS_AEU" header="VIVIENDAS x AEU" [sortable]="true"></p-column>
    <p-column field="FRECUENCIA" header="FRECUENCIA DE AEUs" [sortable]="true"></p-column>
    <p-column field="P_FRECUENCIA" header="%" [sortable]="true"></p-column>
    <p-column field="P_FRECUENCIA_ACUMULADA" header="% ACUMULADO" [sortable]="true"></p-column>
</p-dataTable>

<p-dataTable id="reporte03_tabla" hidden="true" [value]="datareporte03" [rows]="15" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
    class="table table-bordered table-lg mt-lg mb-0">
    <p-column field="UBIGEO" header="UBIGEO" [sortable]="true"></p-column>
    <p-column field="DEPARTAMENTO" header="DEPARTAMENTO" [sortable]="true"></p-column>
    <p-column field="PROVINCIA" header="PROVINCIA" [sortable]="true"></p-column>
    <p-column field="DISTRITO" header="DISTRITO" [sortable]="true"></p-column>
    <p-column field="ZONA" header="ZONA N°" [sortable]="true"></p-column>
    <p-column field="SECCION" header="SECCIÓN N°" [sortable]="true"></p-column>
    <p-column field="AEU_FINAL" header="AEU N°" [sortable]="true"></p-column>
    <p-column field="MANZANA" header="MANZANA N°" [sortable]="true"></p-column>
    <p-column field="CANT_VIV_MZS" header="N° DE VIVIENDAS POR MANZANA" [sortable]="true"></p-column>
    <p-column field="CANT_VIV_AEU" header="N° DE VIVIENDAS POR AEU" [sortable]="true"></p-column>
    <p-column field="PROM_VIV_AEU" header="PROMEDIO DE VIVIENDAS POR AEU" [sortable]="true"></p-column>
</p-dataTable>
<ng2-toasty></ng2-toasty>