<h1 class="page-title">SISTEMA INTEGRADO DE SEGMENTACIÓN - <span class="fw-semi-bold">CONTROL DE CALIDAD</span></h1>
<!-- Content area -->
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <form class="form-inline">
                <div class="form-group">
                    <label for="lDepartamento"><h5> DEPARTAMENTO</h5></label>
                    <select class="form-control" name="departamentos" (change)="cargarProvincias($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let el of departamentos" value="{{ el.CCDD }}">{{ el.DEPARTAMENTO }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lProvincia"><h5> PROVINCIA</h5></label>
                    <select class="form-control" name="provincias" (change)="cargarDistritos($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let e of provincias" value="{{ e.CCPP }}">{{ e.PROVINCIA }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lDistrito"><h5> DISTRITO</h5></label>
                    <select class="form-control" name="distritos" (change)="cargarZonas($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let e1 of distritos" value="{{ e1.CCDI }}">{{ e1.DISTRITO }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lArea"><h5> ÁREA</h5></label>
                    <select class="form-control" name="areas">
                        <option value="0"> Urbana</option>
                        <option value="1"> Rural</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lZona"><h5> ZONA</h5></label>
                    <select class="form-control" name="zonas" (change)="cargarAeu($event.target.value)">
                        <option value="0">TODOS</option>
                        <option *ngFor="let er of zonas" value="{{ er.UBIGEO }}">{{ er.ZONA }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div *ngIf="verZonaPrevia" class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> RECHAZAR
                            </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                            <a class="dropdown-item">RECHAZAR CARTOGRAFÍA</a>
                            <a class="dropdown-item">RECHAZAR SEGMENTACIÓN</a>
                            <a class="dropdown-item">RECHAZAR CROQUIS Y LISTADOS</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div *ngIf="verZonaPrevia" class="dropdown">
                        <button class="btn btn-primary" type="button"> VALIDAR </button>
                    </div>
                </div>
            </form>

            <form action="" class="inline">
                <div class="col-md-12" align="left">
                    <hr style="color: black; background-color: black; width:100%;" />
                    <a class="btn btn-primary" (click)="descargarExcel('tablaSeg', 'SEGMENTACION')">EXCEL <i class="fa fa-download"></i></a>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form class="navbar-form pull-xs-left" role="search">
                    <div class="form-group">
                        <div class="input-group input-group-no-border">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input #gb type="text" pInputText size="50" class="form-control" placeholder="Buscador Global">
                        </div>
                    </div>
                </form>
                <p-dataTable id="tablaCont" [value]="registros" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
                    class="table table-bordered table-lg mt-lg mb-0" [globalFilter]="gb">
                    <p-column field="DEPARTAMENTO" header="DEPARTAMENTO" [sortable]="true"></p-column>
                    <p-column field="PROVINCIA" header="PROVINCIA" [sortable]="true"></p-column>
                    <p-column field="DISTRITO" header="DISTRITO" [sortable]="true"></p-column>
                    <p-column field="ZONA" header="ZONA" [sortable]="true"></p-column>
                    <p-column field="NUM_SEC" header="NRO. DE SECCIONES" [sortable]="true"></p-column>
                    <p-column field="NUM_AEU" header="NRO. DE AEUs" [sortable]="true"></p-column>
                    <p-column field="EST_CONT" header="NRO. DE ZONAS OBSERVADAS" [sortable]="true"></p-column>
                    <p-column field="EST_CONT" styleClass="col-button" header="ESTADO">
                        <template let-col let-car="rowData" pTemplate type="body">
                            <span [ngSwitch]="car[col.field]">                                
                            <span *ngSwitchCase="4" class="btn btn-success">VÁLIDO</span>
                            <span *ngSwitchCase="9" class="btn btn-danger">OBSERVADO</span>
                            </span>
                        </template>
                    </p-column>
                    <p-column *ngIf="verZona" header="VER">
                        <template pTemplate type="body">
                            <button (click)="getRegistro(0)" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-pencil"></i></button>
                        </template>
                    </p-column>
                    <p-column *ngIf="verZonaPrevia" [style]="{'width':'38px'}" selectionMode="multiple">VALIDAR</p-column>
                </p-dataTable>
            </div>
        </section>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center" class="modal-title" id="myModalLabel">CONTROL DE CALIDAD</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="height: 850px;">
                    <div class="col-md-3" style="overflow-y:scroll;">
                        <section class="widget">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="lSeccion"><h5> SECCIÓN</h5></label>
                                    <select class="form-control" name="seccion" (change)="getRegistro($event.target.value)">
                                        <option value="0">ZONA</option>
                                        <option value="1">SECCIÓN</option>
                                        <option value="2">EMPADRONADOR</option>                        
                                    </select>
                                    <a class="btn btn-primary" [href]=urlCroquis download> PDF  <i class="fa fa-download"> </i></a>
                                </div>
                            </form>
                        </section>
                        <section class="widget">
                            <table class="table table-bordered table-lg mt-lg mb-0" id="tablaCroAux" class="scroll">
                                <thead>
                                    <tr>
                                        <th width="11%">Zona</th>
                                        <th *ngIf="seccionAux" width="10%">Sección</th>
                                        <th *ngIf="aeuAux" width="10%">Nro. de AEU</th>
                                        <th width="11%">Estado</th>
                                    </tr>
                                </thead>
                                <tbody max-height="500px">
                                    <tr *ngFor="let re1 of registros2">
                                        <td>{{re1.ZONA}}</td>
                                        <td *ngIf="seccionAux" (click)="cambiarPdfSeccion(re1.SECCION)">{{re1.SECCION}}</td>
                                        <td *ngIf="aeuAux" (click)="cambiarPdfAeu(re1.SECCION,re1.AEU_FINAL)">{{re1.AEU_FINAL}}</td>
                                        <td> <span class="btn btn-success">EXITOSO</span> </td>
                                        <td>
                                            <span [ngSwitch]="[re1.EST_CONT]">
                                            <span *ngSwitchCase="1"> - </span>
                                            <span *ngSwitchCase="2" class="btn btn-warning">PENDIENTE</span>
                                            <span *ngSwitchCase="3" class="btn btn-primary">EN PROCESO</span>
                                            <span *ngSwitchCase="4" class="btn btn-success">EXITOSO</span>
                                            <span *ngSwitchCase="9" class="btn btn-danger">FALLIDO</span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="col-md-9">
                        <object id="object" [data]=urlCroquis type="application/pdf" width="100%" height="85%">
                                alt : <a [href]=urlCroquis>test.pdf</a>
                        </object>
                        <!--<form action="" class="inline">-->
                            <i class="fa fa-pencil prefix">Observaciones:</i>
                            <textarea style="width: 600px;" class="form-control"></textarea>
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> RECHAZAR
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                                <a class="dropdown-item">RECHAZAR CARTOGRAFÍA</a>
                                <a class="dropdown-item">RECHAZAR SEGMENTACIÓN</a>
                                <a class="dropdown-item">RECHAZAR CROQUIS Y LISTADOS</a>
                            </div>
                            <button class="btn btn-primary" type="button"> VALIDAR </button>
                            <button class="btn btn-primary" type="button"> GUARDAR OBSERVACIÓN </button>
                        <!--</form>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>